# Environment requirements
jupyter
jupyter_contrib_nbextensions
jupyter-offlinenotebook
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
# Constellate
constellate-client

# Notebook requirements

gensim==3.8.3
matplotlib
nbconvert==5.6.1
nltk
numpy
pandas
pyLDAvis==3.2.2
Pillow
spacy
vaderSentiment
wordcloud
scikit-image
scikit-learn
scikit-learn-intelex
